<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="icons/favicon.ico" />
    <title>Job Match</title>
  </head>
  <body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <div class="header__logo">
        <img src="icons/icon-32.png" alt="" />
        <h1 class="header__title">Job Match</h1>
      </div>
      <a href="#" id="menu" class="header__menu">☰</a>
      <nav id="drawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="/">Halaman Utama</a></li>
          <li class="nav__item"><a href="#">Lowongan</a></li>
          <li class="nav__item"><a href="#">Tenaga Kerja</a></li>
          <li class="nav__item"><a href="#">Daftar</a></li>
        </ul>
      </nav>
    </header>
    <div class="hero"></div>
    <main id="main-content">
      <article class="content">
        <h2 class="content__title">Cari Tenaga Kerja</h2>
        <div id="restaurant-list" class="content__list"></div>
      </article>
    </main>
    <footer>
      <p class="footer">Copyright © 2023 - Job Match</p>
    </footer>
  </body>
</html>
